<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Correia wedding</title>
    <meta name="description" content="uma loja de vestidos">
    <meta name="author" content="Katia Correia">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('frontoffice/images/favicon.png') }}">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic'/>
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Kaushan+Script:100,300,400,400italic,500,700,700italic'/>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS -->
    <link rel='stylesheet' href='{{ asset('frontoffice/css/global.css') }}'>
    <link rel='stylesheet' href='{{ asset('frontoffice/css/structure.css') }}'>
    <link rel='stylesheet' href='{{ asset('frontoffice/css/weddingdresses.css') }}'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/css/settings.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/plugins/slick/slick.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/plugins/slick/slick-theme.css') }}"/>

    <!-- CSS only -->
    <link rel='stylesheet' href='{{ asset('frontoffice/css/custom.css') }}'>
    {% block style %}{% endblock %}

</head>

<body class="home page template-slider button-default layout-full-width if-border-hide no-content-padding header-split minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll">
<div id="Wrapper">
    <div id="Header_wrapper">
        <header id="Header">
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class="logo">
                                <a id="logo" href="{{ path('front_home_page') }}" title="BeWeddingDresses - BeTheme"
                                   data-height="102" data-padding="30"><img class="logo-main scale-with-grid"
                                                                            src="{{ asset('frontoffice/images/weddingdresses2.png') }}"
                                                                            data-retina="{{ asset('frontoffice/images/retina-weddingdresses2.png') }}"
                                                                            data-height="102"/><img
                                            class="logo-sticky scale-with-grid"
                                            src="{{ asset('frontoffice/images/weddingdresses2.png') }}"
                                            data-retina="{{ asset('frontoffice/images/retina-weddingdresses2.png') }}"
                                            data-height="102"/><img class="logo-mobile scale-with-grid"
                                                                    src="{{ asset('frontoffice/images/weddingdresses2.png') }}"
                                                                    data-retina="{{ asset('frontoffice/images/retina-weddingdresses2.png') }}"
                                                                    data-height="102"/><img
                                            class="logo-mobile-sticky scale-with-grid"
                                            src="{{ asset('frontoffice/images/weddingdresses2.png') }}"
                                            data-retina="{{ asset('frontoffice/images/retina-weddingdresses2.png') }}"
                                            data-height="102"/></a>
                            </div>
                            <div class="menu_wrapper">
                                <nav id="menu">
                                    <ul id="menu-main-menu-left" class="menu menu-main menu_left">
                                        <li class="current-menu-item">
                                            <a href="{{ path('front_home_page') }}"><span>HOME</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('front_accessories') }}"><span>Acessorio</span></a>
                                        </li>

                                        <li>
                                            <a href="{{ path('front_dresses') }}"><span>Vestidos</span></a>
                                        </li>
                                    </ul>
                                    <ul id="menu-main-menu-right" class="menu menu-main menu_right">
                                        <li>
                                            <a href="{{ path('front_gallery') }}"><span>Galeria</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('front_contact') }}"><span>Contacto</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('front_about_us') }}"><span>Sobre Nos</span></a>
                                        </li>

                                    </ul>
                                </nav>
                                <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            {% block banner %}{% endblock %}
        </header>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <footer id="Footer" class="clearfix">
        <div class="widgets_wrapper" style="padding:80px 0 65px;">
            <div class="container">
                <div class="column one">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <div style="text-align: center;">
                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                    <div class="image_wrapper"><img class="scale-with-grid"
                                                                    src="{{ asset('frontoffice/images/home_weddingdresses_pic14.png') }}"/>
                                    </div>
                                </div>
                                <hr class="no_line" style="margin: 0 auto 40px;"/>
                                <p>
                                  <b>Praceta Padre Floro Lote 25,</b>
                                    Vila Nova de Gaia
                                </p>
                                <hr class="no_line" style="margin: 0 auto 25px;"/>
                                <h6><a style="padding: 0 20px;" href="https://www.facebook.com/">FACEBOOK</a><a style="padding: 0 20px;"
                                                                                        href="https://www.instagram.com/casamentospt/?hl=pt">INSTAGRAM</a><a
                                            style="padding: 0 20px;" href="https://www.facebook.com/">PINTEREST</a></h6>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <div class="copyright">
                        &copy; 2018 BeWeddingDresses - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow"
                                                                                          href="http://bit.ly/1M6lijQ">BeantownThemes</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- JS -->
<!-- JS -->


<script src="{{ asset('frontoffice/js/jquery-2.1.4.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="{{ asset('frontoffice/js/mfn.menu.js') }}"></script>
<script src="{{ asset('frontoffice/js/jquery.plugins.js') }}"></script>
<script src="{{ asset('frontoffice/js/jquery.jplayer.min.js') }}"></script>
<script src="{{ asset('frontoffice/js/animations/animations.js') }}"></script>
<script src="{{ asset('frontoffice/js/translate3d.js') }}"></script>
<script src="{{ asset('frontoffice/js/scripts.js') }}"></script>

<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/jquery.themepunch.revolution.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.video.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script src="{{ asset('frontoffice/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('frontoffice/plugins/slick/slick.min.js') }}"></script>
<!-- JavaScript Bundle with Popper -->
{% block script %}{% endblock %}
</body>

</html>