{% extends 'frontoffice/base.html.twig' %}
{% block body %}
    <div class="entry-content">
        <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px; background-color:#edd9d5; background-image:url(frontoffice/images/home_weddingdresses_bgsection3.png); background-repeat:no-repeat; background-position:center top;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <h6>GALLERY</h6>
                                <h2>Our summer collection</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one column_image_gallery">
                            <div id='sc_gallery-1' class='gallery galleryid-17 gallery-columns-4 gallery-size-medium file isotope masonry'>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic5.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic5-304x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic6.jpg') }}'><img src="{{asset( 'frontoffice/images/home_weddingdresses_pic6-350x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic7.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic7-240x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic8.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic8-350x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic20.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic20-262x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic21.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic21-263x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic22.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic22-241x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic23.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic23-350x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <h2>Spring 2018</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one column_image_gallery">

                            <div id='sc_gallery-2' class='gallery galleryid-17 gallery-columns-4 gallery-size-medium file isotope masonry'>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic20.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic20-262x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('') }}images/home_weddingdresses_pic21.jpg'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic21-263x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('') }}images/home_weddingdresses_pic22.jpg'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic22-241x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic23.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic23-350x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic7.jpg') }}images/home_weddingdresses_pic7.jpg'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic7-240x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic6.jpg') }}images/home_weddingdresses_pic6.jpg'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic6-350x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic5.jpg') }}images/home_weddingdresses_pic5.jpg'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic5-304x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href='{{ asset('frontoffice/images/home_weddingdresses_pic8.jpg') }}'><img src="{{ asset('frontoffice/images/home_weddingdresses_pic8-350x350.jpg') }}" class="attachment-medium size-medium" /></a>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}