{% extends 'frontoffice/base.html.twig' %}

{% block banner %}
    <div class="mfn-main-slider" id="mfn-rev-slider">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
             data-source="Galeria"
             style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;"
                 data-version="5.4.8">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off"
                        data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                        data-description="">
                        <img src="{{ asset('frontoffice/images/home_weddingdresses_slider_pic1.jpg') }}"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                             data-bgparallax="8" class="rev-slidebg">
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-4" id="slide-1-layer-1"
                             data-x="center" data-hoffset="" data-y="360" data-width="['auto']"
                             data-height="['auto']" data-type="text" data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 5; white-space: nowrap; font-size:50px; line-height: 110px; font-weight: 200; color: #fff; letter-spacing: 0px;font-family:Kaushan Script;">
                            O VESTIDO DOS SEUS SONHOS ESTÁ AQUI!
                        </div>
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-4" id="slide-1-layer-2"
                             data-x="center" data-hoffset="-1" data-y="548" data-width="['auto']"
                             data-height="['auto']" data-type="text" data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 600; color: #fff; letter-spacing: 0px;font-family:Poppins;">
                            DESCOBRE OS MAIS MAGNÍFICOS<br> VESTIDOS PARA A CERIMÓNIA DE SONHO
                            <br>
                        </div>
                        <a class="tp-caption tp-resizeme" href="#" target="_self" id="slide-1-layer-3"
                           data-x="40" data-y="bottom" data-voffset="80" data-width="['auto']"
                           data-height="['auto']" data-type="text" data-actions='' data-responsive_offset="on"
                           data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                           data-textAlign="['inherit','inherit','inherit','inherit']"
                           data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                           data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                           style="z-index: 7; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #b2b2b2; letter-spacing: 3px;font-family:Poppins;text-decoration: none;">IN </a>
                        <a
                                class="tp-caption tp-resizeme" href="#" target="_self" id="slide-1-layer-4"
                                data-x="40" data-y="bottom" data-voffset="120" data-width="['auto']"
                                data-height="['auto']" data-type="text" data-actions=''
                                data-responsive_offset="on"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #b2b2b2; letter-spacing: 3px;font-family:Poppins;text-decoration: none;">FB </a><a
                                class="tp-caption tp-resizeme" href="#" target="_self" id="slide-1-layer-6"
                                data-x="37" data-y="bottom" data-voffset="40" data-width="['auto']"
                                data-height="['auto']" data-type="text" data-actions=''
                                data-responsive_offset="on"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                style="z-index: 9; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #b2b2b2; letter-spacing: 3px;font-family:Poppins;text-decoration: none;">TW </a>
                        <div
                                class="tp-caption tp-shape tp-shapewrapper tp-resizeme" id="slide-1-layer-7"
                                data-x="38" data-y="bottom" data-voffset="109" data-width="['20']"
                                data-height="['1']" data-type="shape" data-responsive_offset="on"
                                data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                style="z-index: 10;background-color:rgb(240,240,240);"></div>
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" id="slide-1-layer-8"
                             data-x="38" data-y="bottom" data-voffset="69" data-width="['20']"
                             data-height="['1']" data-type="shape" data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                             style="z-index: 11;background-color:rgb(240,240,240);"></div>
                        <div class="tp-caption tp-resizeme" id="slide-1-layer-9" data-x="center" data-hoffset=""
                             data-y="bottom" data-voffset="40" data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']" data-type="image"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":"","speed":"","ease":"Linear.easeNone"}]'
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;">
                            <img src="{{ asset('frontoffice/images/home_weddingdresses_slider_pic2.png') }}"
                                 data-ww="50px" data-hh="50px">
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="entry-content">
        <div class="section mcb-section"
             style="padding-top:110px; padding-bottom:70px; background-color:#edd9d5; background-image:url({{ asset('frontoffice/images/home_weddingdresses_bgsection1.png') }}); background-repeat:no-repeat; background-position:center top;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h2>About us</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 2%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid"
                                                                src="{{ asset('frontoffice/images/home_weddingdresses_pic1.png') }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h3>Uma ampla escolha</h3>
                                <p>
                                    Juntos, vamos comemorar <br>a escolha do seu vestido de noiva!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 2%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid"
                                                                src="{{ asset('frontoffice/images/home_weddingdresses_pic2.png') }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h3> Reserva Online</h3>
                                <p>
                                    Teremos o nosso espaço<br> preparado para si.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 2%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid"
                                                                src="{{ asset('frontoffice/images/home_weddingdresses_pic3.png') }} "/>
                                </div>
                            </div>
                        </div>
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h3>Entregamos na sua casa </h3>
                                <p>
                                    Aliquam ac dui vel dui vulputate consectetur massa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_button">
                            <div class="button_align align_center">
                                <a class="button button_right button_size_2 button_theme button_js"
                                   href="{{ path('front_about_us') }}">
                                    <span class="button_icon">
                                        <i class="icon-right-open">

                                        </i>
                                    </span>
                                    <span class="button_label">Leia mais sobre nós</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:50px; padding-bottom:10px;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 10% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid"
                                                                src="{{ asset('frontoffice/images/home_weddingdresses_pic4.jpg') }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <h2>Seu casamento é um grande dia</h2>
                                <hr class="no_line" style="margin: 0 auto 20px;"/>
                                <h5>Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non consectetur
                                    condimentum.</h5>
                                <p>
                                    <i class="icon-check themecolor"></i>    Vamos experimentar os seus favoritos
                                </p>
                                <p>
                                    <i class="icon-check themecolor"></i>   Explorar novas possibilidades
                                </p>
                                <p>
                                    <i class="icon-check themecolor"></i>   vamos realizar o sonho de um vestido
                                </p>
                                <p>
                                    <i class="icon-check themecolor"></i>   vamos comemorar a escolha do seu vestido
                                </p>
                                <hr class="no_line" style="margin: 0 auto 30px;"/>
                                <a class="button button_size_2 button_theme button_js"
                                   href="{{ path('front_gallery') }}"><span
                                            class="button_label">Our collection</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section section-border-top" style="padding-top:110px; padding-bottom:70px;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h2>Fotos</h2>
                                <hr class="no_line" style="margin: 0 auto 20px;"/>
                                <p>
                                    Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non
                                    consectetur.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one column_image_gallery">
                            <div id='sc_gallery-1'
                                 class='gallery galleryid-2 gallery-columns-4 gallery-size-medium file masonry'>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href={{ asset('frontoffice/images/home_weddingdresses_pic5-304x350.jpg') }}><img
                                                    src="{{ asset('frontoffice/images/home_weddingdresses_pic5-304x350.jpg') }}"
                                                    class="attachment-medium size-medium"/></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href={{ asset('frontoffice/images/noivos1.jpg') }}><img
                                                    src="{{ asset('frontoffice/images/noivos1.jpg') }}"
                                                    class="attachment-medium size-medium"/></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon portrait'>
                                        <a href={{ asset('frontoffice/images/noivos2.jpg') }}><img
                                                    src="{{ asset('frontoffice/images/noivos2.jpg') }}"
                                                    class="attachment-medium size-medium"/></a>
                                    </dt>
                                </dl>
                                <dl class='gallery-item'>
                                    <dt class='gallery-icon landscape'>
                                        <a href={{ asset('frontoffice/images/home_weddingdresses_pic8-350x350.jpg') }}><img
                                                    src="{{ asset('frontoffice/images/home_weddingdresses_pic8-350x350.jpg') }}"
                                                    class="attachment-medium size-medium"/></a>
                                    </dt>
                                </dl>
                                <br style="clear: both"/>

                            </div>
                        </div>
                        <div class="column mcb-column one column_button">
                            <div class="button_align align_center">
                                <a class="button button_right button_size_2 button_theme button_js"
                                   href="{{ path('front_gallery') }}"><span class="button_icon"><i
                                                class="icon-right-open"></i></span><span class="button_label">Veja mais fotos</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section section-border-top"
             style="padding-top:110px; padding-bottom:270px; background-color:#edd9d5; background-image:url({{ asset('frontoffice/images/home_weddingdresses_bgsection2.png') }}); background-repeat:no-repeat; background-position:center top;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h2>Nossos Clientes</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one column_testimonials">
                            <div class="testimonials_slider single-photo">
                                <ul class="testimonials_slider_ul">
                                    <li>
                                        <div class="single-photo-img"><img
                                                    src="{{ 'frontoffice/images/joana.jpg' }}"
                                                    class="scale-with-grid wp-post-image"/>
                                        </div>
                                        <div class="bq_wrapper">
                                            <blockquote>
                                                "Uma experiência de luxo, de onde ninguém sai sem ter aquilo que procura. O céu é o limite. Só faz falta ir ao sítio correto."

                                                — Noivas de Portugal
                                            </blockquote>
                                        </div>
                                        <div class="hr_dots">
                                            <span></span><span></span><span></span>
                                        </div>
                                        <div class="author">
                                            <h5>Brandon Ross</h5><span class="company"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-photo-img"><img
                                                    src="{{ 'frontoffice/images/patricia.jpg' }}"
                                                    class="scale-with-grid wp-post-image"/>
                                        </div>
                                        <div class="bq_wrapper">
                                            <blockquote>
                                                Fico muito feliz por ter ido a esta loja, a menina que me atendeu foi sensacional, super atenciosa, nota-se que gosta e que sabe o que faz. Recomendo vivamente!
                                                Noivos, não comprem fato antes de visitar esta loja."

                                                — Casamentos.pt
                                            </blockquote>
                                        </div>
                                        <div class="hr_dots">
                                            <span></span><span></span><span></span>
                                        </div>
                                        <div class="author">
                                            <h5>Jennifer Lee</h5><span class="company"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-photo-img"><img
                                                    src="{{ 'frontoffice/images/ana.jpg' }}"
                                                    class="scale-with-grid wp-post-image"/>
                                        </div>
                                        <div class="bq_wrapper">
                                            <blockquote>
                                                Uma simpatia incrível que não tinha visto em mais nenhuma loja, já tinha ido a outros locais e o que me fez procurar esta loja foram os excelentes feedbacks que li
                                            </blockquote>
                                        </div>
                                        <div class="hr_dots">
                                            <span></span><span></span><span></span>
                                        </div>
                                        <div class="author">
                                            <h5>Tony Johnson</h5><span class="company"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="slider_pager slider_pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:0px; padding-bottom:110px; ">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top move-up clearfix"
                     style="padding:360px 15% 140px; margin-top:-230px" data-parallax="3d" data-mobile="no-up"><img
                            class="mfn-parallax" src="{{ 'frontoffice/images/home_weddingdresses_pic13.jpg' }}"
                            style="opacity:0"/>
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_hover_box">
                            <div class="hover_box">
                                <a href="https://www.youtube.com/watch?v=jxjq4DzH5bM" rel="prettyphoto">
                                    <div class="hover_box_wrapper"><img class="visible_photo scale-with-grid"
                                                                        src="{{ 'frontoffice/images/home_weddingdresses_pic12a.png' }}"/><img
                                                class="hidden_photo scale-with-grid"
                                                src="{{ 'frontoffice/images/home_weddingdresses_pic12b.png' }}"
                                        />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_center">
                                <h6 style="color: #fff;">ASSISTA VÍDEO</h6>
                                <h2 style="color: #fff;">Histórias de amor de nossa Mary Midgley e Emily</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();

            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on")
                        tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "hero",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 9000,
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1080,
                        gridheight: 900,
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "enterpoint",
                            speed: 400,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        },
                        shadow: 0,
                        spinner: "spinner2",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            disableFocusListener: false,
                        }
                    });
                }
                ;
            };
        }());
    </script>
{% endblock %}